@charset "UTF-8";

body {
	font-family: arial, helvetica, sans-serif;
	background-color: lightblue;
	margin: 0px;
}

header {
	background-color: whitesmoke;
	padding: 10px;
	margin: 10px;
}

nav {
	background-color: rgb(102, 102, 102);
	padding: 3px;
	box-shadow: 5px 3px 7px 1px rgb(0, 0, 0, 0.493);
}

nav > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-right: 7px;		
}

nav > a:hover {
	text-decoration: underline;
}

main {
	background-color: whitesmoke;
	padding: 10px;
	margin: 10px;
	border-radius: 10px 0px;
	box-shadow: 5px 3px 7px 1px rgb(0, 0, 0, 0.493);
}

article {
	background-color: lightgray;
	padding: 5px;
}

article > aside {
	background-color: rgb(165, 165, 165);
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 4px;
	margin: 0px;
}

footer > p {
	margin: 0px;
}
